*{
    margin: 0px;
}
img{
    display: inline;
}
nav{
    position: absolute;
    left: 340px;
    top: 0px;
    padding: 13px;
}
ul li{
   display: inline-block; 
   padding: 35px 20px;
}
.header_outline{
    display: block;
    padding: 30px;
}

.le_cashmere_main_img{
    width: 100%;
    display: block;
}

li{
    display: block;
}

.perfect{
    width: 400px;
    text-align: center;
}

.SUSTAINABLE{
    width: 400px;
    text-align: center;
}

.CRAFT_BUT_STYLISH{
    width: 400px;
    text-align: center;
}

.coment{
    margin: 20px 0px;;
    display: flex;
    justify-content: center;
}

.footer_company{
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.coment{
    background-color: lightgray;
}

.footer_etc{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: column;
    justify-content: space-around;
}

.footer_etc>ul{
    display: flex;
    flex-direction: column;
}

.clothes>div{
    position: relative;
    width: 505px;
}
.clothes>div>img{
    width: 505px;
}
.clothes{
    width: 1200px;
}